/* style.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:   white;
    padding: 5px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
